.env
__pycache__/
.DS_Store
/src/ai_news/news/
/src/ai_news/report.md
/src/ai_news/2025-02-16_17-35-02_1_news_article.md
/src/ai_news/2025-02-16_17-35-02_2_news_article.md
/src/ai_news/2025-02-16_17-35-02_3_news_article.md
